html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=78714f64-ec97-41e0-8d39-2bcca3cc1165&fontids=1475738");
@font-face{
  font-family:"Frutiger LT W01_55 Roma1475738";
  src:url("Fonts/1475738/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix");
  src:url("Fonts/1475738/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") 
  format("eot"),url("Fonts/1475738/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") 
  format("woff2"),url("Fonts/1475738/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") 
  format("woff"),url("Fonts/1475738/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") 
  format("truetype"),url("Fonts/1475738/7def0e34-f28d-434f-b2ec-472bde847115.svg#7def0e34-f28d-434f-b2ec-472bde847115") 
  format("svg");
}

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
with any questions regarding Web Fonts:  http://www.linotype.com
*/

/*


@import url(http://db.onlinewebfonts.com/c/b0b6eb8ffec6fd135e633df33313c82d?family=FrutigerLTW01-55Roman);


@font-face{
    font-family: "FrutigerLTW01-55Roman";
    src: url("http://db.onlinewebfonts.com/t/b0b6eb8ffec6fd135e633df33313c82d.eot");
    src: url("http://db.onlinewebfonts.com/t/b0b6eb8ffec6fd135e633df33313c82d.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/b0b6eb8ffec6fd135e633df33313c82d.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/b0b6eb8ffec6fd135e633df33313c82d.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/b0b6eb8ffec6fd135e633df33313c82d.svg#FrutigerLTW01-55Roman") format("svg");
}*/

@font-face {
    font-family: 'proxima_nova_blblack';
    src: url('fonts/proximanova/proximanova-black-webfont.eot');
    src: url('fonts/proximanova/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanova-black-webfont.woff2') format('woff2'),
         url('fonts/proximanova/proximanova-black-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanova-black-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('fonts/proximanova/proximanova-light-webfont.eot');
    src: url('fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


.hide0{
  opacity: 0 !important;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanova-reg-webfont.woff2') format('woff2'),
         url('fonts/proximanova/proximanova-reg-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanova-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('fonts/proximanova/proximanova-xbold-webfont.eot');
    src: url('fonts/proximanova/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanova-xbold-webfont.woff2') format('woff2'),
         url('fonts/proximanova/proximanova-xbold-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanova-xbold-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  height:101%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif;
  /*max-width: 600px;*/
  margin: 0 auto;
  /*padding-top: 72px;*/
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  color: white;
  /*line-height: 1.5em;*/
  overflow: hidden;
  background-color: black;
   -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  user-select: none;
}

html       {overflow-y:hidden}

.white     {background-color:white!important}

nav        {width:100%; height:auto; position:fixed; top:-100px; left:0px; display:none; z-index: 101}
.content   {width:100%; height:1440px; float:left; text-align:center;}
.slider    {background-repeat: no-repeat; background-attachment: fixed; background-position: center; position:absolute}
.slider    {background-image:url('../images/slide1.jpg'); width:100%; height:1440px; z-index:-1}
#white     {background-image:url('../images/slide4.jpg');}
.back      {background-repeat: no-repeat; background-attachment: fixed; background-position: center; position:absolute}
.back      {/*background-image:url('../images/background_black.png');*/ width:100%; height:1440px; z-index:-1}
.fixed     {position:fixed; top:33%}
.fixed2    {position:fixed; top:13%}
.fixed3    {position:fixed; bottom:9%}
li         {color:white; text-align:left!important; font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif;  line-height:26px; font-size:20px; }

.hide      {display:none}

.main      { float:left; margin-top:16% !important;  text-shadow: none;}
.jahre     {width:35%; float:left; text-align:left; margin-top:6%;}
.aufzaehl  {width:60%; float:right; margin-top:6%}

.text      {width:45%; height:400px; float:left; text-align:left; margin-top:10%}
.text_unten{width:45%; float:left; text-align:left; position:relative}
.text_unten2{width:45%; float:right; text-align:left; position:relative}
.text_unten3{width:33%; float:right; text-align:left; position:relative}
.text_oben {width:45%; float:left; text-align:left; position:relative}

.navi      {/*width:300px;*/ height:50px; position: absolute; top:0px; right:70px; text-align:left; margin-top:9%;z-index: 100;}
.bigmac    {/*width: 2.8em;*/ /*height:55px;*/ position:fixed; right:0; top:0; /*background-image:url('../image/bigmac.png');*/ display:none; z-index: 200 }
.bigmac2   {width: 2.8em; height:55px; position:fixed; right:0; top:0; background-image:url('../image/bigmac2.png'); display:none; z-index: 200 }

.btn       {color:rgba(255,255,255,0.9); font-size:19px;  font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif; margin-right:6px; text-decoration:none; font-weight:bold}
.btn:hover {text-decoration:underline}
.btn2      {color:black; font-size:19px;  font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif; margin-right:6px; text-decoration:none}
.btn2:hover{text-decoration:underline}
.schwarz   {color:black}

.center    {width:1600px; margin:0px auto}
.vmiddle    {-webkit-transform: translateY(-50%); transform: translateY(-50%); -ms-transform: translateY(-50%)};
/*.mittig    { -ms-transform: translateY(-50%);transform: translateY(-50%);}*/
.mittig {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.mittig    {text-align: center; position: absolute; width: 100%; top: 50%; -webkit-transform: translateY(-50%);}
.home      {width:519px; height:161px; display:block}
.logo      {/*width:55%;*//*width:519px; height:161px;*/ margin:0px auto;}
.logo2     {width:519px; height:161px; position:absolute; top:7%}
.arrows    {}
.unten     {bottom:50px; left:0px; position:absolute; height:65px; width:100%}
.left      {width:80px; height:65px; float:left;}
.right     {width:80px; height:65px; float:right; }
h1         {color:white; /*font-family: 'FrutigerLTW01-55Roman' sans-serif;*/ /*line-height:50px; font-size:3.0em; */line-height:43px; font-size:50px;text-transform:uppercase; letter-spacing:-1px}
h2         {color:white; /*font-family: 'FrutigerLTW01-55Roman', sans-serif;*/  line-height:1.1em; font-size:24px; margin-top:40px  }
.bigger    {font-size:28px; text-transform:uppercase;  /*font-family: 'proxima_nova_rgbold', sans-serif;*/ line-height:29px;}
.big       {/*font-family: 'proxima_nova_rgbold', sans-serif;*/}
.download  {padding:12px 12px 12px 12px; border-radius: 20px; background-image:url('../image/punkt.png'); font-family: 'FrutigerLTW01-55Roman', sans-serif; font-size:19px;}
.download  {color:white; font-weight:bold; letter-spacing:1px; text-decoration:none; margin:20px 0px 20px 0px ; display:block; width:117px; text-align:center}



/* SLIDE - Background Wechsel  */
#inter    {background-image:url('../images/slide10.jpg')}
#nachbar  {background-image:url('../images/slide9.jpg')}
#show     {background-image:url('../images/slide8.jpg')}
#club     {background-image:url('../images/slide7.jpg')}
#john     {background-image:url('../images/slide6.jpg')} 
#flugzeug {background-image:url('../images/slide5.jpg')}
#kompromis{background-image:url('../images/slide3.jpg')}
#behind   {background-image:url('../images/slide2.jpg')}

/* RESPONSIVE - PERFEKTE ANPASSUNG - 100%  */

@media screen and (min-width: 900px) {
nav       {display:none!important}

}


@media screen and (max-width: 1919px) {
.center    {width:85%;}

}

@media screen and (max-width: 1550px) {
/*.main       {margin-top:6%}*/
}


@media screen and (max-width: 1280px) {
.center     {width:89%;}
/*text-unt*/
/*.main       {margin-top:7%}*/
.logo2      {width:400px;}
.text_unten3{width:45%;}


}

@media screen and (max-width: 1000px) {
.text_unten {width:60%;}
.text_unten3{width:50%;}
}




/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .background{
      /*height: 100%;*/
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    h1 {line-height:43px; font-size:50px; }
    .background{
      /*width: 100%;*/
    }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .background{
      /*height: 100%;*/
    }
}

/* Landscape */
@media only screen x
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      h1 {line-height:43px; font-size:50px; }
     .background{
      /*width: 100%;*/
    }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .background{
      /*height: 100%;*/
    } 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
     h1 {line-height:43px; font-size:50px; }
     .background{
      
      /*width: 100%;*/
    }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
     .background{
      /*height: 100%;*/
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
     h1 { line-height:43px; font-size:50px; }
     .background{

      /*width: 100%;*/
    }

}


@media screen and (max-width: 900px) {
.navi     {display:none}
nav       {top:-100%;}/*{display:none}*/
.bigmac   {display:block}
.bigmac2  {display:block}
.text     {height:300px!important;}
.navi     {float:left!important; height:auto; width:100%; margin:0px 0px 0px -14px }
.btn      {width:100%;  display:block; border-bottom:1px solid white;  background-color:black} /*padding:30px 15px 20px 30px;*/
.btn      { float:none;}
.btn:hover{background-color:white; color:black; text-decoration:none}
.logo2    {width:400px;}
.text_unten {width:70%;}
.text_unten3{width:60%;}
/*.logo     {width:55%;}*/
.abstand  {margin-left:2%}
.background{
    /*  height:100%;
      margin-left: -50%;*/
    }
/*.main     {margin-top:10%}*/

h1        {color:white; line-height:43px; font-size:50px;/*line-height:52px; font-size:3.5em;*/ text-transform:uppercase; /*letter-spacing:-4px*/}
h2        {color:white; line-height:18px; font-size:1.3em; margin-top:1em}


}

@media screen and (max-width: 750px) {
h1        {color:white; line-height:43px; font-size:50px;/*line-height:52px; font-size:3.5em;*/ text-transform:uppercase; /*letter-spacing:-4px*/}
h2        {color:white; line-height:18px; font-size:1.3em; margin-top:1em}
.text     {width:55%; height:400px; float:left; text-align:left; margin-top:12%}
.logo2    {width:55%;}
/*.main     {margin-left:5%}*/
.jahre    {width:90%; float:left; text-align:left; margin-top:25%;}
.aufzaehl {width:90%; float:left;}
/*.main     {margin-top:18%}*/
.bigger   {margin-top:3%}
.aufzaehl {margin-top:10%}

#slide-1 > div.slp-box.bar{
  bottom:3em;
}

.background{
      /*height:100%;*/
      /*margin-left: -50%;*/
    }

}



@media screen and (max-width: 550px) {
h1        {color:white; line-height:43px; font-size:50px; text-transform:uppercase; /*letter-spacing:-3px*/}
h2        {color:white; font-weight:500; line-height:18px; font-size:18px; margin-top:40px}
.text     {width:100%; height:400px; float:left; text-align:left; margin-top:15%}
.logo2    {width:55%; top:5%}
.text_unten{width:100%;}
.text_unten3{width:100%;}
.show     {display:none}
.hide     {display:block}
.logo     {width:293px; height:241px; margin:0px auto;}
.bigger   {font-size:20px; line-height:21px}
.inter    {font-size:38px; line-height:36px;}

}

@media screen and (max-width: 450px) {
.logo2    {width:60%; top:5%}
.text_unten{width:100%;}
.text_unten3{width:100%;}
.jahre    {margin-top:30%;}
.kompro   {font-size:43px;}
}


@media screen and (max-width: 360px) {
.text     {margin-top:25%}
.logo2    {width:60%; top:5%}
.text_unten{margin-top:-60%; width:100%;}
.logo     {width:85%; height:241px; margin:0px auto;}

}

@media (max-height: 1100px) {
/*.fixed     {position:fixed; bottom:15%;}*/
.fixed2    {position:fixed; top:15%}
.fixed3    {bottom:13%}
}


@media (max-height: 890px) {
/*.fixed     {position:fixed; bottom:1*/9%;}
.fixed2    {position:fixed; top:19%}
.fixed3    {bottom:15%}
}

@media (max-height: 700px) {
/*.fixed     {position:fixed; bottom:25%;}*/
.fixed2    {position:fixed; top:25%}
.fixed3    {bottom:18%}
}




h1, h2, h3 {
  color: #fff;
}
/*h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}
*/
h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #AAA;
}

div#logo{
  /*background: url(/image/the-Key.svg);*/
  /*background-image: url("/image/logo.png");*/
  position:fixed;
  /*margin:2em;*/
  z-index: 100;
  opacity: 1;
 /* -webkit-animation-duration: 2.9s; *//* Chrome, Safari, Opera */
   /* animation-duration: 2.9s;*/
}
.bar {
  float: left;
  opacity: 1.0;
  /*margin: 5px;*/
  /*text-align: center;*/
  color: #FFF;
  /*font-weight: bold;*/
  text-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
}

.bar::before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}


.blur:before{
  display: block;
  content: ' ';
  filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

p{
  color: white;
}

.slp-title{
}

a:hover {
  text-decoration: underline;
}

div#navi{
  position: absolute;
  /*top: 1em;
  right: 1em;*/
  z-index: 100;
}

div#navi div{
  max-width: 100px;
  display: block;
}

div#fighters{
  position: fixed;
  bottom:2em;
}

div#fighters img{
 /* position:relative; */
  vertical-align:bottom;
  position:absolute;
  bottom: 0;
 /*  max-width: 100% !important;
 left: 50%;
  margin-left: -50%;*/

}

.backshadow{

background: rgba(0,0,0,0.65);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.65)), color-stop(44%, rgba(59,59,59,0.65)), color-stop(100%, rgba(135,135,135,0)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#878787', GradientType=1 );
}

.gradient-old{
  background: rgba(0,0,0,0.65);
background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.65)), color-stop(44%, rgba(59,59,59,0.65)), color-stop(100%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#878787', GradientType=1 );
}

.gradient-fast{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.6+0,0.6+0,0.6+50,0.6+69,0+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 69%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 69%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 69%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.gradient{

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.6+0,0.38+0,0.38+50,0.38+69,0+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0.38) 0%, rgba(0,0,0,0.38) 50%, rgba(0,0,0,0.38) 69%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.38) 50%,rgba(0,0,0,0.38) 69%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.38) 50%,rgba(0,0,0,0.38) 69%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

.gradient-tl{
 background: rgba(0,0,0,0.37);
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(138,138,138,0) 54%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,0.37)), color-stop(54%, rgba(138,138,138,0)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(138,138,138,0) 54%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(138,138,138,0) 54%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(138,138,138,0) 54%, rgba(255,255,255,0) 100%);
background: linear-gradient(135deg, rgba(0,0,0,0.37) 0%, rgba(138,138,138,0) 54%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}

.gradient-td{
  background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.65)), color-stop(44%, rgba(59,59,59,0.65)), color-stop(100%, rgba(135,135,135,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(59,59,59,0.65) 44%, rgba(135,135,135,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#878787', GradientType=0 );
}

.red {
  background-color: rgba(255,0,0,0.1);
  filter: blur(10px);
}

.radial-shadow{

background: rgba(0,0,0,0.24);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.24) 0%, rgba(88,88,88,0) 54%, rgba(135,135,135,0) 83%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.24)), color-stop(54%, rgba(88,88,88,0)), color-stop(83%, rgba(135,135,135,0)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.24) 0%, rgba(88,88,88,0) 54%, rgba(135,135,135,0) 83%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.24) 0%, rgba(88,88,88,0) 54%, rgba(135,135,135,0) 83%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.24) 0%, rgba(88,88,88,0) 54%, rgba(135,135,135,0) 83%);
background: radial-gradient(ellipse at center, rgba(0,0,0,0.24) 0%, rgba(88,88,88,0) 54%, rgba(135,135,135,0) 83%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#878787', GradientType=1 );
}

.motionBlur{
 filter: progid:DXImageTransform.Microsoft.MotionBlur(strength=50, direction=310);
}

.sliderbtn-right{
  position: fixed;
  right: 0;
  z-index: 50;
}

.sliderbtn-left{
  position: fixed;
  left: 0;
  z-index: 50;
  background-color: red;
}

div#slider{
  background-color: rgba(255,0,0,0.0);
  overflow: hidden;
}

.noise{
   background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=dedede&density=76&opacity=64");
}

div.page{
  
  display: inline-block;
  z-index: 0;
  overflow: hidden;
}




div.slider-btn:hover{
   transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  /*opacity: 0.6;*/
}

div.slider-btn{
  /*margin: 2em;*/
  bottom: 1em;
  position: fixed;
  z-index: 1000;
}

div#slider-prev{
  cursor: w-resize;
}

div#slider-next{
  right: 0;
  cursor: e-resize;
}

div.slider-pages{
  /*http://cubic-bezier.com/#.32,.1,.69,.9*/
  /*cubic-bezier(.1,-0.36,.8,1.13)*/
  /*transition: all 1.6s cubic-bezier(.32,.1,.69,.9);*/
  transition: all 1.6s cubic-bezier(.87,-.41,.19,1.2);
  /*transition: transform 1s ease-in-out;*/
  overflow: hidden;
  z-index: 80;
  position: absolute;
}
div.slider-pages:first-child{
  /*background-image: url("/image/background/1.jpg");*/
}

.background{
  z-index: 0;
  position: relative;
  /*bottom: 0;*/
  /*transition: transform 20s ease-in-out;*/
  /*transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);*/
  /*width: 100%;*/
}

div.scene{
  background-color: grey;
  width: 50%;
   background-position: center top;
  /*background-image: url("/image/background/1.jpg");*/
  /*background-image: url("/image/11.png");*/
}

/*div#navi a{
  cursor: hand;
}*/
div.navi a.active{
   text-decoration: underline;
   /*text-decoration: underline;*/
   /*font-family: 'proxima_nova_rgbold', Verdana, Helvetica, Arial, sans-serif !important;*/
   transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;

}

nav.toggled{
    transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  display: block !important;
  top:0px;
}

.slp-text{
  margin-top: 12px;

}
/*
#slide-0 > div.slp-box.bar{

}


#slide-1 > div.slp-box.bar{
  bottom:3em;
  left:0;
}


#slide-2  > div.bar{
  bottom:3em;
  right:0;
}


#slide-3  > div.bar{
  top:3em;
  left:0;
}
*/

/*golden cut : 38.2 and 61.8 percent*/

#slide-1  div.slp-box.bar{
   /*bottom:38.2%;*/
   bottom:14%;
}

#slide-1 img{
  bottom:0;
  /*    margin-top: -14%;*/
  /*margin-bottom: 50%;*/
}

#slide-2 img{
  
/*      margin-top: -4%;*/
  /*margin-bottom: 50%;*/
}


#slide-2  div.slp-box.bar{
  bottom:44.2%;
  /*margin-top: -20%;*/
}


#slide-3  div.slp-box.bar{
  bottom:16%;
}

#slide-4  div.slp-box.bar{
 bottom:16%;
}

#slide-5  div.slp-box.bar{
  bottom:15%;
}

#slide-6  div.slp-box.bar{
  bottom:13%;
}

#slide-7  div.slp-box.bar{
  bottom:16%;
}

#slide-8  div.slp-box.bar{
  bottom: 15%;
}

@-webkit-keyframes heartbeat {
    
    92% { transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    94% {  transform: scale(1.16, 1.16); -webkit-transform: scale(1.16, 1.16); }
    96% {  transform: scale(1, 1); -webkit-transform: scale(1, 1); }
    98% {  transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1);}
    100% { transform: scale(1, 1); -webkit-transform: scale(1, 1);}
}

@keyframes heartbeat {
    
    92% { transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    94% {  transform: scale(1.16, 1.16); -webkit-transform: scale(1.16, 1.16); }
    96% {  transform: scale(1, 1); -webkit-transform: scale(1, 1); }
    98% {  transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1);}
    100% { transform: scale(1, 1); -webkit-transform: scale(1, 1);}
}

.heartbeat{
  -webkit-animation-name: heartbeat;
  animation-name: heartbeat;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}


.black{
  color : black;
}


